.logo{
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin: auto;

}

header{
    box-sizing: border-box;
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: row;
    margin:auto;
    background-color: white;
    position:initial;
    top: 0;
    z-index:1;

}

.busqueda{
    box-sizing: border-box;
    display: flex;
    margin:auto;

}


.container{
    display: flex;
    font-size: 12px;
    overflow-y: hidden;
    padding: 1ex;
    position: relative;
    justify-content: start;
}
.content {
    cursor: pointer;
    margin: 0 15px 0 0;
    display: block;
    width: max-content;
    white-space: nowrap;
}

.logob{
    color:gray;
    padding:1ex;
    margin: auto;
    cursor:pointer;

    }

.carrito{
    color:gray;
    background-color: white;
    padding:1ex;
    border-color: white;
    margin: auto;

    }

table, th, td {
  margin:auto;
  padding:1em;
}

footer{
    position:fixed;
    bottom: 0;
    width:100%;
    height:2em;
    display: flex;
        
}